# LAB TASK 1

Practice of CRUD operations

# Basic Setup

**Import libraries**

In [1]:
import psycopg2

**Create connection to database**

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 user=postgres password=ali123ali")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

**Get a cursor**

In [3]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

**Enable autocommit**

In [4]:
conn.set_session(autocommit=True)

# Create Database

Create database using the Entity-Relation Diagram (ERD) below
<img src="schema.png">

In [5]:
# create database
try: 
    cur.execute("CREATE DATABASE bookstore;")
except psycopg2.Error as e:
    print(e)

database "bookstore" already exists

In [6]:
# close connection to default database     
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)

In [7]:
# connect to the created data base
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=bookstore user=postgres password=ali123ali")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [8]:
# create a cursor
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

In [9]:
# enable autocommit
conn.set_session(autocommit=True)

## Create tables

**AUTHOR**

In [10]:
cur.execute('DROP TABLE IF EXISTS AUTHOR CASCADE')
query = """CREATE TABLE IF NOT EXISTS AUTHOR 
(
    Name VARCHAR(255), 
    Address VARCHAR(255),
    Url VARCHAR(255),
    PRIMARY KEY(Name,Address)
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**PUBLISHER**

In [11]:
cur.execute('DROP TABLE IF EXISTS PUBLISHER CASCADE')
query = """CREATE TABLE IF NOT EXISTS PUBLISHER 
(
    Name VARCHAR(255), 
    Address VARCHAR(255),
    Phone VARCHAR(255),
    Url INT,
    PRIMARY KEY(Name)
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**CUSTOMER**

In [12]:
cur.execute('DROP TABLE IF EXISTS CUSTOMER CASCADE')
query = """CREATE TABLE IF NOT EXISTS CUSTOMER 
(
    Name VARCHAR(255), 
    Address VARCHAR(255),
    Phone VARCHAR(255),
    Email VARCHAR(255),
    PRIMARY KEY(Email)
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**BOOK**

In [13]:
cur.execute('DROP TABLE IF EXISTS BOOK CASCADE')
query = """CREATE TABLE IF NOT EXISTS BOOK 
(
    ISBN VARCHAR(255), 
    PublisherName VARCHAR(255),
    AuthorName VARCHAR(255),
    AuthorAddress VARCHAR(255),
    Year INT,
    Title VARCHAR(255),
    Price NUMERIC(19,0),
    PRIMARY KEY(ISBN),
    CONSTRAINT fkc_PublisherName FOREIGN KEY(PublisherName) REFERENCES PUBLISHER(Name) ON DELETE SET NULL,
    CONSTRAINT fkc_AuthorName FOREIGN KEY(AuthorName, AuthorAddress) REFERENCES AUTHOR(Name,Address) ON DELETE SET NULL    
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**SHOPPINGBASKET**

In [14]:
cur.execute('DROP TABLE IF EXISTS SHOPPINGBASKET CASCADE')
query = """CREATE TABLE IF NOT EXISTS SHOPPINGBASKET 
(
    ID INT, 
    CustomerEmail VARCHAR(255),
    PRIMARY KEY(ID),
    CONSTRAINT fkc_CustomerEmail FOREIGN KEY(CustomerEmail) REFERENCES CUSTOMER(Email) ON DELETE SET NULL    
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**SHOPPINGBASKET_BOOK**

In [15]:
cur.execute('DROP TABLE IF EXISTS SHOPPINGBASKET_BOOK CASCADE')
query = """CREATE TABLE IF NOT EXISTS SHOPPINGBASKET_BOOK 
(
    ShoppingBasketID INT, 
    BookISBN VARCHAR(255),
    Count INT,
    PRIMARY KEY(ShoppingBasketID,BookISBN),
    CONSTRAINT fkc_ShoppingBasketID FOREIGN KEY(ShoppingBasketID) REFERENCES SHOPPINGBASKET(ID) ON DELETE SET NULL,
    CONSTRAINT fkc_BookISBN FOREIGN KEY(BookISBN) REFERENCES BOOK(ISBN) ON DELETE SET NULL   
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**WAREHOUSE**

In [16]:
cur.execute('DROP TABLE IF EXISTS WAREHOUSE CASCADE')
query = """CREATE TABLE IF NOT EXISTS WAREHOUSE 
(
    Code INT, 
    Phone VARCHAR(255),
    Address VARCHAR(255),
    PRIMARY KEY(Code)
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

**WAREHOUSE_BOOK**

In [17]:
cur.execute('DROP TABLE IF EXISTS WAREHOUSE_BOOK CASCADE')
query = """CREATE TABLE IF NOT EXISTS WAREHOUSE_BOOK 
(
    WarehouseCode INT, 
    BookISBN VARCHAR(255),
    Count INT,
    PRIMARY KEY(WarehouseCode,BookISBN),
    CONSTRAINT fkc_WarehouseCode FOREIGN KEY(WarehouseCode) REFERENCES WAREHOUSE(Code) ON DELETE SET NULL,
    CONSTRAINT fkc_BookISBN FOREIGN KEY(BookISBN) REFERENCES BOOK(ISBN) ON DELETE SET NULL    
);"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

## Insert Data

In [18]:
# Inster data in Author Table
query = "INSERT INTO AUTHOR (Name, Address, Url) VALUES (%s, %s, %s)"
data = [("Au1","Lahore1","http1"),
        ("Au2","Lahore2","http2"),
        ("Au3","Lahore3","http3")]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [19]:
# Inster data in Publisher Table
query = "INSERT INTO PUBLISHER (Name, Address, Phone,Url) VALUES (%s, %s, %s , %s)"
data = [("Pub1","Lahore1","1",1),
        ("Pub2","Lahore2","2",2),
        ("Pub3","Lahore3","3",3)]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [20]:
# Inster data in Customer Table
query = "INSERT INTO CUSTOMER (Name, Address, Phone, Email) VALUES (%s, %s, %s , %s)"
data = [("Cus1","Lahore1","1","1@gmail.com"),
        ("Cus2","Lahore2","2","2@gmail.com"),
        ("Cus3","Lahore3","3","3@gmail.com")]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [21]:
# Inster data in Book Table
query = "INSERT INTO BOOK (ISBN, PublisherName,AuthorName,AuthorAddress,Year,Title,Price) VALUES (%s,%s,%s,%s,%s,%s,%s)"
data = [("1", "Pub1", "Au1","Lahore1",1,"T1",1.1),
        ("2", "Pub2", "Au2","Lahore2",2,"T2",2.2),
        ("3", "Pub3", "Au3","Lahore3",3,"T3",3.3)]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [22]:
# Inster data in ShoppingBasket Table
query = "INSERT INTO SHOPPINGBASKET (ID, CustomerEmail) VALUES (%s,%s)"
data = [("1", "1@gmail.com"),
        ("2", "2@gmail.com"),
        ("3", "3@gmail.com")]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [23]:
# Inster data in ShoppingBasket_book Table
query = "INSERT INTO SHOPPINGBASKET_BOOK (ShoppingBasketID, BookISBN, Count) VALUES (%s,%s, %s)"
data = [("1", "1",1),
        ("2", "2",2),
        ("3", "3",3)]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [24]:
# Inster data in Warehouse Table
query = "INSERT INTO WAREHOUSE (Code, Phone, Address) VALUES (%s,%s, %s)"
data = [(1, "1","Lahore1"),
        (2, "2","Lahore2"),
        (3, "3","Lahore3")]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [25]:
# Inster data in Warehouse_Book Table
query = "INSERT INTO WAREHOUSE_BOOK (WarehouseCode, BookISBN, Count) VALUES (%s,%s, %s)"
data = [(1, "1",1),
        (2, "2",2),
        (3, "3",3)]

try:
    cur.executemany(query,data)
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

# CRUD

Create, Read, Update, Delete

## Create

The create opperation has been performed above for createing tables

## Read

**Reading all data from the tables**

In [26]:
# Reading Author Table
query = "select * from AUTHOR"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Au1', 'Lahore1', 'http1')
('Au2', 'Lahore2', 'http2')
('Au3', 'Lahore3', 'http3')

In [27]:
# Reading Publisher Table
query = "select * from Publisher"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Pub1', 'Lahore1', '1', 1)
('Pub2', 'Lahore2', '2', 2)
('Pub3', 'Lahore3', '3', 3)

In [28]:
# Reading Customer Table
query = "select * from Customer"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Cus1', 'Lahore1', '1', '1@gmail.com')
('Cus2', 'Lahore2', '2', '2@gmail.com')
('Cus3', 'Lahore3', '3', '3@gmail.com')

In [29]:
# Reading BOOK Table
query = "select * from BOOK"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('1', 'Pub1', 'Au1', 'Lahore1', 1, 'T1', Decimal('1'))
('2', 'Pub2', 'Au2', 'Lahore2', 2, 'T2', Decimal('2'))
('3', 'Pub3', 'Au3', 'Lahore3', 3, 'T3', Decimal('3'))

In [30]:
# Reading ShoppingBasket Table
query = "select * from ShoppingBasket"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '1@gmail.com')
(2, '2@gmail.com')
(3, '3@gmail.com')

In [31]:
# Reading ShoppingBasket_book Table
query = "select * from ShoppingBasket_book"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '1', 1)
(2, '2', 2)
(3, '3', 3)

In [32]:
# Reading Warehouse Table
query = "select * from Warehouse"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '1', 'Lahore1')
(2, '2', 'Lahore2')
(3, '3', 'Lahore3')

In [33]:
# Reading Warehouse_book Table
query = "select * from Warehouse_book"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '1', 1)
(2, '2', 2)
(3, '3', 3)

**Reading with WHERE and JOIN**

In [34]:
# Reading Author Table using WHERE
query = "select Name, Address from Author Where Name like 'Au%'"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Au1', 'Lahore1')
('Au2', 'Lahore2')
('Au3', 'Lahore3')

In [35]:
# Reading BOOK Table USING JOIN
query = "select * from Book JOIN Publisher ON book.publishername = publisher.name "
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('1', 'Pub1', 'Au1', 'Lahore1', 1, 'T1', Decimal('1'), 'Pub1', 'Lahore1', '1', 1)
('2', 'Pub2', 'Au2', 'Lahore2', 2, 'T2', Decimal('2'), 'Pub2', 'Lahore2', '2', 2)
('3', 'Pub3', 'Au3', 'Lahore3', 3, 'T3', Decimal('3'), 'Pub3', 'Lahore3', '3', 3)

## Update

In [36]:
# Before Upadte 
query = "select * from Author"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Au1', 'Lahore1', 'http1')
('Au2', 'Lahore2', 'http2')
('Au3', 'Lahore3', 'http3')

In [37]:
# After Update
query = "UPDATE Author SET Name = 'AliAli' where Name = 'Ali' and Address = 'Lahore1'"
cur.execute(query)

query = "select * from Author"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Au1', 'Lahore1', 'http1')
('Au2', 'Lahore2', 'http2')
('Au3', 'Lahore3', 'http3')

## Delete

**Deleting Rows**

In [38]:
query = "DELETE FROM Author WHERE Name= 'AliAli';"
cur.execute(query)

query = "select * from Author"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Au1', 'Lahore1', 'http1')
('Au2', 'Lahore2', 'http2')
('Au3', 'Lahore3', 'http3')

**Deleting tables**

In [39]:
try: 
    cur.execute("DROP table IF EXISTS Author CASCADE")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

# Closing cursor and connection

In [40]:
cur.close()
conn.close()